// Font Weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-normal: normal;

@font-face {
    font-family: 'NewYork';
    src: url('../../assets/fonts/NewYork') format('otf');
    font-weight: $font-light;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewYork';
    src: url('../../assets/fonts/NewYork') format('otf');
    font-weight: $font-regular;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NewYork';
    src: url('../../assets/fonts/NewYork') format('otf');
    font-weight: $font-bold;
    font-style: normal;
    font-display: swap;
}

// Font Faces for Futura (Body Text)
@font-face {
    font-family: 'Futura';
    src: url('../../assets/fonts/Futura_Book-Normal') format('ttf');
    font-weight: $font-light;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../../assets/fonts/Futura_Book-Normal') format('ttf');
    font-weight: $font-regular;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../../assets/fonts/Futura_Book-Normal') format('ttf');
    font-weight: $font-bold;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'NewYork';
}

h1 {
    font-size: 56px;
    line-height: 62px;
    font-weight: $font-regular;
}

h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: $font-regular;
}

h3 {
    font-size: 40px;
    line-height: 44px;
}

h4 {
    font-size: 32px;
    line-height: 36px;
    font-weight: $font-regular;
}

h5 {
    font-size: 24px;
    line-height: 26px;
    font-weight: $font-regular;
}

h6 {
    font-size: 20px;
    line-height: 22px;
}

p {
    font-family: 'Futura', sans-serif;
    font-weight: $font-regular;
    font-size: 16px;
    line-height: 22px;
}

.medium-text-bold {
    font-family: 'Futura', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: $font-bold;
    margin: 28px auto;
}