// Brand Colors
$primary-color: #2C3639;
$secondary-color: #3F4E4F;
$white: #FFFFFF;
$black: #000000;
$border-color: #C9C9C9;
$button-border: rgba(30, 30, 30, 1);
$secondary-text-color: rgba(63, 78, 79, 1);
$bg-color: #f5f2e9;
$text-color: black;
// Text Colors
$primary-text: #DCD7C9;
$secondary-text: #A27B5C;

$transition: 0.4s ease-in-out;
$animation-speed: 20s;
$img-width: 202px;
$img-height: 48px;
$container-width: 906px;
$gap: 80px;
$mobile-gap: 40px;
$default-gap: 24px;

$mobile-padding: 30px;
$default-margin: auto;


